{% extends 'basePdf.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/pdf/pdf.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
<div class="container">
    <center>
        <div class="datas">
            <h1 >Tableau de données</h1>
            <hr>
            <table>
                <tr>
                    <th>Valeur</th>
                    <th>Type</th>
                    <th>Local</th>
                    <th>N°Capteur</th>
                    <th>Date</th>
                </tr>
                {% if datas == null %}
                    <tr>
                        <td colspan="6">
                            No data
                        </td>
                    </tr>
                {% else %}
                    {% for data in datas %}
                    <tr>
                        {% if data.type.id == 1 %}                        
                            {% if data.value > data.type.maxAlarm or data.value < data.type.minAlarm %}
                            <td style="color: red;">{{data.value}} ppm</td>
                            {% else %}
                            <td>{{data.value}} ppm</td>
                            {% endif %}
                        {% endif %}
                        {% if data.type.id == 2 %}
                            {% if data.value > data.type.maxAlarm or data.value < data.type.minAlarm %}
                            <td style="color: red;">{{data.value}} %</td>
                            {% else %}
                            <td>{{data.value}} %</td>
                            {% endif %}
                        {% endif %}
                        {% if data.type.id == 3 %}
                            {% if data.value > data.type.maxAlarm or data.value < data.type.minAlarm %}
                            <td style="color: red;">{{data.value}} °C</td>
                            {% else %}
                            <td>{{data.value}} °C</td>
                            {% endif %}
                        {% endif %}
                        <td>{{data.type.value}}</td>
                        <td>{{data.local}}</td>
                        <td>{{data.sensorNbr}}</td>
                        <td>{{data.sendedAt |date('d-m-Y G:i')}}</td>
                    </tr>
                    {% endfor %}
                {% endif %}              
            </table>
        </div>
    </center>
</div>

{% endblock %}
